html{
    font-family: "Roboto Light", sans-serif;
}

body{
    margin: 0;
    overflow-y: hidden;
}

header{
    margin-left: 10%;
    width: 89%;
}

.nav{
    position: absolute;
    margin-right: 90%;
    height: 100%;
    top: 0;
    background-color: #958868;
    width: 8%;
}
.nav a{
    padding: 10%;
    display: block;
    color: white;
}
.nav a:hover{
    color: black;
}

.container{
    margin-left: 10%;
}

.content{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    width: 89%;
    text-align: center;
    padding-bottom: 1%;
}

.errMsg{
    color: red;
    text-decoration: underline;
}