- var pageTitle = "Error page"

include header

body
    div.container
        div.content
            h1 There is an error occurred (#{errCode})
            div
                p.
                    #{errMsg}

include footer