
- var pageTitle = "Home page"

include Header
body
    b Welcome!
    p Select the task!
    ul
        for i in [4, 14, 17]
            li
                a(href = '/api/SvasyanSpartak/lab1/task' + i) Task #{i}
include NavBar


include Footer